.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


	.square{
		background-color:teal;
		font-size:40px;
		font-weight:bold;
		width:20%;
		height:20%;
		text-align:center;
		margin-top:2px;
		border-radius: 8px;
		border: 4px solid #693D25;
		line-height:50px;
		float: left;
		margin-left:2px;
		user-select: none;  
		cursor: default;
	}
	
	.squareHit{
		background-color:orange;
		font-size:40px;
		font-weight:bold;
		width:20%;
		height:20%;
		text-align:center;
		margin-top:2px;
		border-radius: 8px;
		border: 4px solid red;
		line-height:50px;
		float: left;
		margin-left:2px;
		user-select: none;  
		cursor: default;
	}
	
	
	.square:focus {
		outline: none;
	}
	
	.dispText{
		background-color:#6EA498;
		font-weight:bold;
		font-size:28px;
		border-radius: 2px;
		border: 2px solid #00372B;
		width:250px;
		line-height:50px;
		height:50px;
		text-align:center;
	}
	
	.dispTextGreen{
		background-color:green;
	}
	.dispTextRed{
		background-color:red;
	}
	/*body {
	  color: #6699CC;
	  font-size: 22px;
	  font-family: "Helvetica Neue";
	  background: linear-gradient(slategray, aquamarine);
	  text-align: center;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}*/
	
	
	.board-row {	 
	  content: "";	   
	}
	
	.main-board{
		display:grid;
		grid-template-rows: 1fr 1fr 1fr;
		
	}