.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Lilita+One");

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  background-color: black;
  max-width: 1200px;
  width: 900px;
  justify-content: center;
  font-family: "Lilita One", cursive;
}
.hit {
  background-color: orange;
  cursor: default;
}

.timerLabel {
  font-size: 2em;
  color: #fc9713;
}

.scoreBoxLabel {
  font-size: 2em;
  color: #fc9713;
}

.wordListDiv {
  background-color: #9bf508;
  align-items: stretch;
  justify-content: stretch;
}

.wordBox {
  margin: 20px;
  height: 130px;
  text-align: center;
  overflow: auto;
}
.displayTextDiv {
  grid-column: 1/3;
}
.dispText {
  background-color: #6ea498;
  font-weight: bold;
  font-size: 28px;
  border-radius: 0;
  width: 100%;
  line-height: 50px;
  height: 50px;
  text-align: center;
}

.dispTextGreen {
  background-color: rgb(255, 255, 255);
}
.dispTextRed {
  background-color: red;
}
.gameContainer {
  display: grid;
  grid-template-rows: 50px 3fr 4fr 1fr;
  background-image: linear-gradient(#ffffff, #006a62);
}

.checkButton {
  width: 100%;
  height: 60px;
  color: white;
  border-radius: 20px;
  background: rgb(71, 226, 71);
  border: 5px solid #ffffff;
  box-shadow: #00372b;
  font-family: "Lilita One", cursive;
  font-size: 2.4em;
}

.checkButton:active {
  background: rgb(31, 116, 31);
}

.gameTitle {
  background-color: #0baecc;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #00372b;
  text-shadow: 2px 2px #00372b;
}

.gameInfo {
  display: grid;
  background-color: #008e84;
  grid-template-rows: 3.5fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.board-row {
  content: "";
}

.main-board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  background-color: #0f9900;
  font-size: 3em;
  font-weight: bold;
  width: 60px;
  height: 60px;
  color: #97e18f;
  text-align: center;
  margin-top: 2px;
  border-radius: 20px;
  border: 4px solid #97e18f;
  line-height: 50px;
  float: left;
  margin-left: 2px;
  user-select: none;
  cursor: default;
  box-shadow: 4px 4px grey;
}
.hit {
  background-color: #91f885;
}

.square:focus {
  outline: none;
}
